@import url();

* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(14, 13, 13);
} 

li, h1, a, h2, p, button {
    color: white;
    text-decoration: none;
}
h2 {
    color: black;
}

.menu_container {
  display: inline-block;

}

ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

li {
  list-style-type: none;
}

ul li .menu-icon {
  cursor: pointer;
  display: block;
  color: #e00a52;
  text-decoration: none;
  font-size: 50px;
}

ul li:hover .menu-icon + ul.dropdown {
  display: block;
}

ul li ul.dropdown {

  position: absolute;
  z-index: 999;
  display: none;
  left: 0; /* Adjust the left property to align with the menu icon */
}

#drop {
  text-align: left;
}

/* Add or modify this style in your CSS file */
#scrollToTopBtn {
  display: none; /* Hide the button by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e00a52; /* Choose your desired background color */
  color: #fff; /* Choose your desired text color */
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#scrollToTopBtn:hover {
  background-color: #fc259b; /* Choose a slightly different color for hover effect */
}

.bars {
  width: 35px;
  height: 5px;
  background-color: #e00a52;
  margin: 6px 0;
}

.menu {
  position: fixed;
  display: inline-block;
  margin-left: 20rem;
  margin-top: 5rem;
}

.menu:hover {
  cursor: pointer;
}

.menu:hover .dropdown {
  display: block;
  cursor: pointer;
}

.menu .bars {
  width: 30px;
  height: 4px;
  margin: 4px 0;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: white;
}

.dropdown a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px 0;
}

.dropdown a:hover {
  color: white;
  background-color: #e00a52;
}


#das {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: var(--clr-light);
}

.excelsheet {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  height: 50rem;
  width: 75rem;
  margin-top: 2rem;
  border: 3px solid black;
}